body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #1A1A2E;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}